%h1.-sg araso.de - style catwalk

%ul#-sg-nav
  %li= link_to "typography", {:controller => "styleguide", :action => "typography"}, activate_link("typography")
  %li= link_to "colors",     {:controller => "styleguide", :action => "colors"    }, activate_link("colors"    )
  %li= link_to "buttons",    {:controller => "styleguide", :action => "buttons"   }, activate_link("buttons"   )
  %li= link_to "graphics",   {:controller => "styleguide", :action => "graphics"  }, activate_link("graphics"  )
  %li= link_to "layout",     {:controller => "styleguide", :action => "layout"    }, activate_link("layout"    )
  %li= link_to "feedback",   {:controller => "styleguide", :action => "feedback"  }, activate_link("feedback"  )
  %li= link_to "tables",     {:controller => "styleguide", :action => "tables"    }, activate_link("tables"    )
  %li= link_to "forms",      {:controller => "styleguide", :action => "forms"     }, activate_link("forms"     )
  %li= link_to "components", {:controller => "styleguide", :action => "components"}, activate_link("components")
  %li= link_to "banners",    {:controller => "styleguide", :action => "banners"   }, activate_link("banners"   )
