- content_for :title, "Agile Rails Solutions - Über mich"
- content_for :meta_keywords, "web-design, web-entwicklung, hamburg, konzeption, agile, mindmatters, rails, web-anwendungen, projekte, mobile"
- content_for :meta_description, "Web-Designer aus Hamburg entwickelt und Gestaltet Web-Anwendungen aus Hamburg mit agilen Methoden."
%h1 Über mich...

%section.two-col-content.about
  %article
    %figure.bike
    %p
      Meine 
      = link_to "Suzuki GSX-R 600 K4", "http://de.wikipedia.org/wiki/Suzuki_GSX-R_600"
      hat 120PS und befördert mich von 0 auf 100 km/h in 3 sek. Bei ca. 275 km/h (laut Digi-Tacho) war bei mir auf der A1 schluß. 
      %br
      %br
      Nach einem kleinen 
      = link_to "High-Sider", "http://de.wikipedia.org/wiki/Motorrad#Highsider"
      letztes Jahr, glänzt sie im neu lackierten Gewand.

  %article
    %figure.football
    %p
      Fussball ist meine große Leidenschaft. Ich spiele seit mehreren Jahren im Liga-Bereich. Seit 2 Jahren spiele ich als rechter Mittelfeld Spieler beim 
      = link_to "MSV Hamburg.", "http://www.msv-zweite.de"  
      %br
      %br
      Wir spielen in moment in der
      = link_to "Kreisklasse 1", "http://www.sport-nord.de/ligen/index.php?liga=KK01"
      um den Aufstieg in die Kreisliga.

  %article
    %figure.triathlon
    %p
      Wenn ich mal nicht auf dem Motorrad sitze oder auf dem Fussball spiele, betreibe ich Ausdauersport.
      %br
      %br
      2004 habe ich erfolgreich am 
      = link_to "Hamburger Marathon", "http://www.marathon-hamburg.de/" 
      teilgenommen. Vor 2 Jahren war ich beim 
      = link_to "Hamburger Triathlon", "http://www.hamburg-triathlon.org/"
      dabei. Die Alster ist garnicht so schmutzig wie man denkt ;)
  