%section.two-col-content
  %h1 Ninja Projekte

  %article.project
    %figure= link_to image_tag("projects/annika.png") , "http://www.annikahirsch.de"
    %h3= link_to "annikahirsch.de" , "http://www.annikahirsch.de"
    .info Konzeption, Layout, Typo, HAML, SASS, Rails
  %article.project
    %figure= link_to image_tag("projects/mittagsplaner.png"), "http://mindmatters.de/#projects"
    %h3= link_to "mittagsplaner.de", "http://mindmatters.de/#projects"
    .info Konzeption, Layout, HAML, SASS, jQuery, Rails
  %article.project
    %figure= link_to image_tag("projects/67rockwell.png"), "http://mindmatters.de/#projects"
    %h3= link_to "67rockwell.de", "http://mindmatters.de/#projects"
    .info Layout, HAML, SASS, jQuery, Rails
  %article.project
    %figure= link_to image_tag("projects/cashbits.png"), "http://mindmatters.de/#projects"
    %h3= link_to "cashbits.de", "http://mindmatters.de/#projects"
    .info HAML, SASS, Rails
  %article.project
    %figure= link_to image_tag("projects/bmb.png"), "http://www.bmb-immo.de"
    %h3= link_to "bmb-immo.de", "http://www.bmb-immo.de"
    .info Konzeption, Design, Layout, HAML, SASS, JavaScript, Rails
  %article.project
    %figure= link_to image_tag("projects/mylugo.png"), "http://www.mylugo.de"
    %h3= link_to "mylugo.de", "http://www.mylugo.de"
    .info Konzeption, Design, Layout, HTML, SASS, jQuery, Rails
  %article.project
    %figure= link_to image_tag("projects/mikestar.png"), "http://www.mikestar.de"
    %h3= link_to "mikestar.de", "http://www.mikestar.de"
    .info Layout, HTML, CSS, JavaScript, Java
  %article.project
    %figure= link_to image_tag("projects/vileda.png"), "http://www.vileda.de"
    %h3= link_to "vileda.de", "http://www.vileda.de"
    .info HTML, CSS, JavaScript, Rails
  / %article.project
  /   %figure= link_to image_tag("projects/youtrex.png"), "http://www.youtrex.de"
  /   %h3= link_to "youtrex.de", "http://www.youtrex.de"
  /   .info HTML, CSS